/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 30px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}


/* GLOBAL EXPLORER CUSTOMIZE
-------------------------------------------------- */

body {
  background: #ffffff;
  padding-bottom: 0px;
  color: #333333;
}

a {
  color: #C64E0A;
}
a:hover,
a:focus {
  color: #E15B0F;
  text-decoration: none;
}

#stepdetails_form i.form-control-feedback {
  top: 6px !important;
  right: 10px;
}

.btn-orange {
  color: #fff;
  background-color: #e95a3e;
  border-color: #e02908;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
  color: #e95a3e;
  background-color: #ffffff;
  border-color: #e95a3e;
}

.bootbox-close-button {
    margin-top:-2px !important;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 400px;
  }
}

.min-size-name {
  min-width: 200px;
}
.min-size-num {
  min-width: 100px;
}


/* step process
-------------------------------------------------- */
.stepwizard-step p {
    margin-top: 10px;    
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;     
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
    
}

.stepwizard-step {    
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

/* img list
-------------------------------------------------- */
.free-wall {
  margin: 0;
}
.brick {
  width: 221.2px;
}
.info {
  padding: 15px;
  color: #333;
  margin-top: 15px;
  border-top: 1px solid #ddd;
}
.info h5 {margin: 0 0 3px 0!important}
.info a {text-decoration: none; font-weight: normal;}
.brick img {
  margin: 0px;
  padding: 0px;
  display: block;
}


/* date picker
-------------------------------------------------- */
.bootstrap-datetimepicker-widget td.active,
.bootstrap-datetimepicker-widget td.active:hover,
.bootstrap-datetimepicker-widget td span.active {
  background-color: #e95a3e;
}

/* panel
-------------------------------------------------- */
.panel-orange {
  border-color: #e95a3e;
}
.panel-orange > .panel-heading {
  color: #fff;
  background-color: #e95a3e;
  border-color: #e95a3e;
}
.panel-orange > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #e95a3e;
}
.panel-orange > .panel-heading .badge {
  color: #e95a3e;
  background-color: #fff;
}
.panel-orange > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #e95a3e;
}

/* table
-------------------------------------------------- */
.table > thead > tr > td.brown,
.table > tbody > tr > td.brown,
.table > tfoot > tr > td.brown,
.table > thead > tr > th.brown,
.table > tbody > tr > th.brown,
.table > tfoot > tr > th.brown,
.table > thead > tr.brown > td,
.table > tbody > tr.brown > td,
.table > tfoot > tr.brown > td,
.table > thead > tr.brown > th,
.table > tbody > tr.brown > th,
.table > tfoot > tr.brown > th {
  background-color: #463e3e;
  color: #B9B9B9;
}
.table-hover > tbody > tr > td.brown:hover,
.table-hover > tbody > tr > th.brown:hover,
.table-hover > tbody > tr.brown:hover > td,
.table-hover > tbody > tr:hover > .brown,
.table-hover > tbody > tr.brown:hover > th {
  background-color: #c4e3f3;
}

/* navigation
-------------------------------------------------- */
.navbar-inverse {
  background-color: #463e3e;
  border-color: transparent;
  opacity: .93;
}
.navbar-inverse .navbar-nav > li > a {
  color: #B9B9B9;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #4b4646;
  background: -webkit-linear-gradient(to bottom, #4b4646 97%, #e95a3e 3%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to bottom, #4b4646 97%, #e95a3e 3%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to bottom, #4b4646 97%, #e95a3e 3%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #4b4646 97%, #e95a3e 3%); /* Standard syntax */
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #e95a3e;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #333;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #4b4646;
}
.dropdown-menu-nav {
  border-bottom: 3px solid #e95a3e;
  background-color: #4b4646;
}
.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
  background-color: #3d3d3d;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  color: #777;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #4b4646;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff;
  background-color: #4b4646;
}

/* carousel
-------------------------------------------------- */
.carousel div.item {
  height: 500px;
  background-color: transparent;
}
.carousel-fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.grad {
  background: -webkit-linear-gradient(to bottom, transparent 70%, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to bottom, transparent 70%, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to bottom, transparent 70%, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, transparent 70%, white); /* Standard syntax */
}
.grad .carousel-fill {
  position:relative;
  z-index:-1;
  display:block;
}
.carousel-control.left, .carousel-control.right {
  background-image: none;
}
.carousel-select {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* content
-------------------------------------------------- */
.container-fluid-overlay {
  border:0px solid red;
  padding:0px;
  position: absolute;
  top: 400px;
  width: 100%;
}
.container-fluid p {
  font-size: 12px;
  margin: 0px;
}
.container-opacity {
  padding-top: 30px;
  background: rgba(255, 255, 255, .5);
}
.text-shadow-white {
  color: white;
  text-shadow: 1px 1px 3px #000000;
}

/* packages
-------------------------------------------------- */
.pax-dest .col-xs-3 {
  width: 25%;
  margin-bottom: 30px;
  z-index: 999;
}
.pax-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  border-top:1px solid #dddddd;
  border-left:1px solid #dddddd;
  border-right:1px solid #dddddd;
}
.pax-fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
a .pax-fill {
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}
a:hover .pax-fill ,
a:focus .pax-fill {
  -webkit-transform:scale(1.25); /* Safari and Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* IE 9 */
  -o-transform:scale(1.25); /* Opera */
   transform:scale(1.25);
}

.pax-details {
  width: 100%;
  height: 90px;
  padding: 10px;
  border: 1px solid #dddddd;
  border-top: 2px solid #e95a3e;
  border-radius: 0 0 5px 5px;
  text-align: justify;
}
a p.pax-details  {
  color: #333333;
}
a:hover p.pax-details ,
a:focus p.pax-details {
  color: #e95a3e;
  text-decoration: none;
}
@media (max-width: 990px) {
  .pax-dest .col-xs-3 {
    width: 50%;
  }
  .pax-img {
    height: 180px;
  }
  .pax-details {
    height: 90px;
  }
}
@media (max-width: 1250px) {
  .table-responsive-flight-details {
    overflow-y: hidden;
    border: 1px solid #ddd;
  }
}
@media (max-width: 480px) {
  .pax-dest .col-xs-3, .pax-dest .col-xs-4 {
    width: 100%;
  }
  .pax-img {
    height: 220px;
  }
  .pax-details {
    height: auto;
  }
}


/* package_view display tab/select tag
-------------------------------------------------- */
@media (max-width: 951px) {
  .hide_package_view_display_tab {
    display: none;
  }
  .hide_package_view_display_select {
    display: block;
  }
}
@media (min-width: 950px) {
  .hide_package_view_display_tab {
    display: block;
  }
  .hide_package_view_display_select {
    display: none;
  }
}

/* step_booking display tab/select tag
-------------------------------------------------- */
@media (max-width: 951px) {
  .hide_package_view_display_tabs {
    display: none;
  }
  .hide_package_view_display_selects {
    display: block;
  }
}
@media (min-width: 950px) {
  .hide_package_view_display_tabs {
    display: block;
  }
  .hide_package_view_display_selects {
    display: none;
  }
}


/* pagination
-------------------------------------------------- */
.pagination {
  text-align: center;
}
.pagination > li > a,
.pagination > li > span {
  color: #333333;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #e95a3e;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #e95a3e;
  border-color: #e95a3e;
}

/* footer
-------------------------------------------------- */
.footer-one {
  background: #fafafa;
}
.footer-two {
  background: #f2f2f2;
}
.footer {
  border-top: 1px solid #dddddd;
  margin-bottom: 0px;
  padding: 10px 0;
}
