/* general
-------------------------------------------------- */
body {
  background: #463e3e;
  padding-bottom: 0px;
  color: #333333;
}

.btn-orange {
  color: #fff;
  background-color: #e95a3e;
  border-color: #e02908;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
  color: #e95a3e;
  background-color: #ffffff;
  border-color: #e95a3e;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 400px;
  }
}

.min-size-name {
  min-width: 200px;
}
.min-size-num {
  min-width: 100px;
}

/* navigation
-------------------------------------------------- */
.navbar-default {
  background-color: #463e3e;
  border-color: transparent;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #4b4646;
  background: -webkit-linear-gradient(to bottom, #4b4646 97%, #e95a3e 3%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to bottom, #4b4646 97%, #e95a3e 3%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to bottom, #4b4646 97%, #e95a3e 3%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #4b4646 97%, #e95a3e 3%); /* Standard syntax */
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: white;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #333;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #333;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #333;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #463e3e;
  border-color: red;
}
.nav > li > a,
.nav > li > a {
  color: #B9B9B9;

}
.nav > li > a:hover,
.nav > li > a:focus {
  color: #fff;
  background-color: #4b4646;
  background: -webkit-linear-gradient(to bottom, #4b4646 97%, #e95a3e 3%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to bottom, #4b4646 97%, #e95a3e 3%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to bottom, #4b4646 97%, #e95a3e 3%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #4b4646 97%, #e95a3e 3%); /* Standard syntax */
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #e95a3e;
}
.nav > li.active > a,
.nav > li.active > a:hover,
.nav > li.active > a:focus {
  color: #fff;
  background-color: #e95a3e;
}
.sidebar ul li {
	border: 0px;
}
.dropdown-menu-nav {
  border-bottom: 3px solid #e95a3e;
  background-color: #4b4646;
  border-radius: 0 0 4px 4px;
  margin: 0px;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #333;
}
.dropdown-menu > li > a,
.dropdown-menu > li > a {
  color: #B9B9B9;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #4b4646;
}

/* panel
-------------------------------------------------- */
.panel-orange {
  border-color: #e95a3e;
}
.panel-orange > .panel-heading {
  color: #fff;
  background-color: #e95a3e;
  border-color: #e95a3e;
}
.panel-orange > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #e95a3e;
}
.panel-orange > .panel-heading .badge {
  color: #e95a3e;
  background-color: #fff;
}
.panel-orange > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #e95a3e;
}

/* pagination
-------------------------------------------------- */
@media screen and (max-width: 1000px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}

/* pagination
-------------------------------------------------- */
.pagination {
  text-align: center;
}
.pagination > li > a,
.pagination > li > span {
  color: #333333;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #e95a3e;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #e95a3e;
  border-color: #e95a3e;
}

/*---------------- BATCH MODAL ----------------------*/

.batch-header {
    border-bottom: 1px solid #e5e5e5;
    padding: 0 0 10px;
}

.batch-body {
    margin: 20px 0;
}

#batch_close {
    margin-top: -5px;
}

.modal-body .form-control {
    border: 0 none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(102, 175, 233, 0);
    outline: 0 none;
}

.remove_field {
    background: none repeat scroll 0 0 #d9534f;
    left: 98.6%;
    margin-top: -40px;
    position: absolute;
}
.remove_field i {
    color: #ffffff;
    padding: 0 5px;
}

.ge-nopad{
  padding:0;
}

.em-addmore {
    background: none repeat scroll 0 0 #e95a3e;
    border-radius: 0 3px 3px 0;
    box-shadow: -1px 1px 5px #ccc;
    color: #fff;
    float: right;
    outline: 1px solid #ccc;
    padding: 9px 10px;
    position: absolute;
    right: 16px;
    top: 1px;
    cursor: pointer;
}

.em-remove{
    background: none repeat scroll 0 0 #e95a3e;
    border-radius: 0 3px 3px 0;
    box-shadow: -1px 1px 5px #ccc;
    color: #fff;
    float: right;
    outline: 1px solid #ccc;
    padding: 9px 10px;
    position: absolute;
    right: 16px;
    top: 1px;
    cursor: pointer;
}

.em-addmore:hover, .em-remove:hover {
  background: none repeat scroll 0 0 #4B4646;
}

@media screen and (max-width: 768px) {
    .ge-sctop {
        padding-top: 15px;
    }
    .em-addmore,.em-remove {
        top: 16px;
    }
}