.form-horizontal .requiredfld{
  color:#d43f3a; 
  display:inline;
}

.error_flds{
  background-color:rgba(233, 90, 62,0.4);
}


.typeahead {
  background-color: #fff;
}

.typeahead-wrapper {
display: block;
margin: 50px 0;
}

.tt-dropdown-menu {
    width: 100%;
    margin-top: 5px;
    padding: 3px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 18px;
  font-size: 14px;
  line-height: 20px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}